<div class="form-floating">
  <%= form.text_field :name, autofocus: true, autocomplete: "name", placeholder: "State", class: "form-control", id: "contact_name_input" %>
  <label for="contact_name_input">Name</label>
  <%= link_to_remove_nested(form) %>
</div>
