<div class="vw-100 vh-100 d-flex flex-row">
  <div class="align-self-center vw-100">
    <div class="d-flex justify-content-center">
      <main class="container-xs text-center text-white bg-dark">
        <h1>Welcome, <%=Current.user.full_name.to_s%>!</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black">Learn more</a>
        </p>
      </main>
    </div>
  </div>
</div>
